@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');


:root {
    --font: 'Poppins', sans-serif;
    --bg-soft-white: hsl(223, 64%, 98%);
    --primary-color: #6085f7;
    --primary-overlay:  rgba(0, 0, 0, .5);
    --warning-color: #f86666;
    --orange-bg: hsl(26, 100%, 55%);
    --padding-f0: 1.5rem;
    --orange: hsl(25, 97%, 53%);
    --fs-p2: 2.4rem;
    --fs-p6:3.8rem;
    --fs-p1: 1.3rem;
    --fs-p0: 1rem;
    --fs-p5: 0.7rem;
    --fs-p00: 1.5rem;
    --font-family: "Overpass", sans-serif;
    --text400: 400;
    --text700: 700;
    --light-grayish-blue: hsl(223, 64%, 98%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
}
